
/*---------------seccion Menu---------------*/

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 32px 24px;
    
}

.menu__title {
    color: var(--color);
}

.menu__header {
    flex: 40%;
    display: flex;
    align-items: center;
    gap: 16px;
}

.menu__header img {
    width: 24px;
    height: 24px;
}

.menu ul.menu__lista {
    padding: 0;
    display: flex;
    gap: 24px;
    justify-content: end;
}

.menu ul.menu__lista li:last-child a {
    font-weight: bold;
}

/*---------------seccion Title---------------*/

.title__div {
    display: grid;
    grid-template-areas: "information photo";
    width: 93vw;
    margin: auto;
}

.title__profile {
    grid-area: photo;
    width: 20vw;
    border-radius: 50%;
    margin: 0 1rem 5vh 1rem;
}

span{
    font-weight: bold;
    font-family: var(--raleway);
    color: var(--color-resaltado);
}

.title__container {
    grid-area: information;
    margin: 5vh 1rem 5vh 1rem;
    text-align: left;
    width: 60vw;
}

.title__bio {
    font-weight: bold;
    color: var(--color);
    
}

h2 {
    font-size: 2em;
    margin: 0.67em 0;
}

.title__subsection {
    font-weight: 400;
    color: var(--color);
}

.title__network {
    display: flex;
    justify-content: start;
    margin: 0%;
    padding: 0%;    
    gap: 60px;
}